# Large data
*.fastq
*.fastq.gz
*.bam
*.sam

# Indexes
*.bai
*.csi

# STAR outputs
*Log.out
*Log.progress.out
*SJ.out.tab
*Aligned.out.bam

# Nextflow / pipeline junk
work/
.nextflow*
results/

# OS junk
.DS_Store

# old modules/scripts
*/crossvalidate.nf
*/cell_barcode_ctss.nf
*/cellranger_multi.nf
*/mixcr.nf
*/trimgalore.nf
*/seurat_clustering.nf
*/star_index.nf
*/scafe.nf
*/cellranger_multi_with_mixcr.nf
*/cellranger_final.nf
*/enhancer_analysis.nf
*/mixcr_workflow.nf
*/qc.nf

# scafe and immcantation are temporary out for now, will update later
*/scafe_workflow.nf
*/immcantation_workflow.nf
complete_bcell_pipeline.nf
